html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background-color: #ddd;
  font-family: serif;
}

.sample {
  padding: 20px;
  height: 200px;
  width: 1200px;
  border: 20px solid #C08497;
  margin: 20px;
}

.first {
  background-color: #C3A995;
}

.second {
  background-color: #AB947E;
}

.third {
  background-color: #6F5E53;
}

.fourth {
  background-color: #8A7968;
}

.fifth {
  background-color: #593D3B;
}
