body {
  background-color: #A1B5D8;
}

.first {
  background-color: #C3A995;
  padding: 20px;
  height: 100px;
  width: 1200px;
  border: 20px solid #C08497;
  margin: 20px;
}

.second {
  background-color: #AB947E;
  padding: 20px;
  height: 100px;
  width: 1200px;
  border: 20px solid #C08497;
  margin: 20px;
}

.third {
  background-color: #6F5E53;
  padding: 20px;
  height: 100px;
  width: 1200px;
  border: 20px solid #C08497;
  margin: 20px;
}

.fourth {
  background-color: #8A7968;
  padding: 20px;
  height: 100px;
  width: 1200px;
  border: 20px solid #C08497;
  margin: 20px;
}

.fifth {
  background-color: #593D3B;
  padding: 20px;
  height: 100px;
  width: 1200px;
  border: 20px solid #C08497;
  margin: 20px;
}

